<html>

<head>
    <title>UrbanSounds8k Classifier</title>
    <link href="{{ url_for('static', path='/templates/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/templates/images/logo.png') }}" rel="icon" type="image/x-icon">
</head>

<body>
    <div id="navbar">
        <button onclick="home()">Home</button>
        <button onclick="sampleData()">Sample Data</button>
        <button onclick="docs()">API Documentation</button>
        <button onclick="arch()">Model Architecture</button>
        <button onclick="about()">About</button>
    </div>
    <div id="contents">
        <h1>Sample Data</h1>
        <p>The main dataset with 8732 sound files can be found at <a
                href="https://urbansounddataset.weebly.com/urbansound8k.html" target="_blank">UrbanSoundDataset.</a>
            However, if you want to download just a couple of files for testing the model, you can use the button below
            which will download a .zip file
            containing 7 sound samples. You can then upload these samples to the model showcase and judge its
            predictions accordingly.
        </p>
        <button onclick="downloadSamples()">Click to download sample sound files</button>
    </div>
    <script>
        function sampleData() {
            window.location = "/sample-data";
        }

        function about() {
            window.location = "/about";
        }

        function arch() {
            window.location = "/arch";
        }

        function home() {
            window.location = "/";
        }

        function docs() {
            window.location = "/docs";
        }

        function downloadSamples() {
            window.location = "/download-samples";
        }
    </script>
</body>

</html>